*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Montserrat", sans-serif;
}

/* --- BODY --- */
body{
    height: 100vh;
}

/* --- HEADER --- */
header{
    background-color: #f0f0f0;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
}
.header-div{
    display:flex;
    align-items: center; 
}
.logo{
    width:200px;
    height:100px;
    margin: 10px;
}

/* --- NAV MENU --- */
.nav{
    display: flex;
    justify-content: center;
    background-color: #e2d3d3;
    padding:10px;
    border: 2px solid #000;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.nav ul{
    display: flex; 
    justify-content: space-around;
}
.nav .nav-item{
    display: inline;
    position: relative;
}
.nav-item a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-decoration: none; 
    color: #000; 
    padding: 8px 15px 3px 15px; 
    display:block;
}
.nav-item a:visited{
    color: black;
}
.nav-item a:hover{
    color: rgb(97, 79, 79);
}

.nav a::after { 
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    height: 2px; 
    width: 0; 
    background-color: #000; 
    transition: width 0.3s ease-in-out; 
}
.nav a:hover::after {
   width: 100%; 
}


/* --- MAIN --- */
main{
    font-size: 19px;
    margin: 5px 15px;
    padding: 5px;
}
main h3{
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 6px;
}
main p{
    text-indent: 15px;
}
main hr{
    margin: 18px 0 16px 0;
}

.welcome-text{
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    max-width: 50%;
}
.welcome-text p{
    text-indent: 0;
}

/* --- FOOTER --- */
.footer{
    display: flex;
    align-items: center;
    background-color: #0a0a0a;
    margin-top: .7rem;
    padding: .5rem;
    color: white;
}
.footer h4{
    text-align: center;
    font-size: 20px;
    margin: 0.5rem auto;
}
.footer p{
    margin: .5rem 0;
}
.footer .icons{
    display: flex;
    align-items: center;
    position:absolute;
    right: 10px;
    
}
.icons h5{
    font-size: 1rem;
}
.icons a{
    margin: 0 5px;
    color: white;
    text-decoration: none;
}
.icons a:visited{
    color: white;
    text-decoration: none;
}
.icons a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}


/* -- PÁGINAS -- */

/* --- MAIN (INDEX) --- */
.index-main-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.index-main-section img{
    width:55%;
    box-shadow: 2px 2px 5px black;
}
.index-main-section img:hover{
    transform: scale(1.02);
    transition: .3s ease-in-out;
}
.art-1, .art-2, .art-3, .art-4, .art-5, .art-6{
    padding:12px;
    border: 1px solid #000;
    border-radius:5px;
    box-shadow: 2px 2px 5px black;
}

/*  --- ABOUT US --- */
.about-us-main-div{
    margin-bottom: 8px;
}

.about-us-socials li{
    margin: 3px 0;
    margin-left: 15px;
}
.about-us-socials a{
    text-decoration: none;
    color: black;
}

/* --- CONTACT --- */


/* FORMULARIO - ABOUT US/CONTACT */
.formulario{
    margin: 10px 0;
    padding: 7px;
    max-width: fit-content;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #0a0a0a;
}
.formulario legend{
    padding: 0 5px;
}
.formulario label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
.formulario textarea, .formulario input{
    resize: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1.5px solid #0a0a0a;
    padding: 3px;
}
input::placeholder{
    font-size: 15px;
}
.formulario button{
    padding: 12px 25px;
    margin-top: 2px;
    background-color: black;
    color: white;
    border: yellow;
    border-radius: 10px;
}
.formulario button:hover{
    background-color: grey;
    color: black;
    cursor: pointer;
}

